body {
    background-color: #0b1d33;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 40px;
}

.dashboard {
    background: #142f4c;
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #1abc9c;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}